.post, header, aside {
    background-color: transparent;
}

/*  --------------------------  */
body {
/*    font-family: "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;*/
    font-family: Verdana, "Liberation Sans", sans-serif;
    font-size: 16px;
    background-color: #333;
}
h1, h2, h3, h4 {
    line-height: 1.1em;
    color: hsl(0, 0%, 98%);
    Font-family: Arial;
}
p {
    line-height: 1.5em;
    color: hsl(0, 0%, 85%);
}
header[role="banner"] {
    height: 126px;
}

/* sidebar stuff */
aside {
    height: 600px;
    position: relative;
    font-size: 14px;
}
.abt-me h3 {
    margin: 0 18px 1em auto;
    float: right;
    min-width: 50px;
}
.abt-me p {
    clear: both;
} /* end sidebar stuff */

.post {
    position: relative;
    margin: 0 auto 30px;
}
.post h2 {
    margin-top: 0;
}
.post time {
    display: block;
    width: 66px;
    position: absolute;
    top: -10px;
    left: -78px;
    text-align: center;
    color: hsl(0, 0%, 68%);
}
.post time span:nth-of-type(1) {
    font-size: 48px;
    display: inline-block;
} 
.post time span:nth-of-type(2) {
    font-size: 24px;
    text-transform: uppercase;
    display: inline-block;
    margin-top: -6px;
}
.post footer {
    font-size: 14px;
    color: hsl(0, 0%, 60%);
    margin-top: -6px;
}
.post footer span:nth-of-type(1) {
    float: left;
}
.post footer span:nth-of-type(2) {
    float: right;
}
